body{
	background-color: #f0f0f0;
	max-width: 1980px;
	min-width: 960px;
	margin: auto auto;
}

header{
  position: static;
	height: 60px;
	margin-top: -16px;
	background-color: #fded5e;
}
header li{
	display: inline-block;
	margin-top: 15px;
	margin-right: 30px;

	float: left;
}
header li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #9b9999;
}
#menu-btn {
	float: right;

}
#menu-btn a img{
	margin-top: -5px;
}

#home {
  background: url(bridge.jpg) center 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
}

#about {
  background: url(panda.jpeg) center 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#about article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
}